<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <style>
        body{
            background-color: #424242;
        }
        h1{
            color:white
        }
    </style>
</head>
<body>
<div class="container py-3 main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/cities">Acasa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cities/add">Adauga</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 style="color:white">Lista de orașe: </h1>
        <a href="/cities/add" class="btn btn-info">Adaugă un oraș</a>
        <div th:each="element: ${allCities}" class="alert alert-secondary mt-2">
            <h3 th:text="${element.name}"/>
            <div th:if="${element.visitedDate}">
                Vizitat la:
                <p th:text="${#dates.format(element.visitedDate, 'dd:MM:yyyy')}"/>
            </div>
            <div th:unless="${element.visitedDate}">
                Acest oras n-a fost vizitat <br>
            </div>
            <div class="d-flex justify-content-start">
                <div>
                    <a th:href="'/city/'+ ${element.id} + '/edit'" class="btn btn-success mb-2">Modiffica</a>
                </div>
                <div>
                    <form class="ml-5" action="/city/delete" method="post" style="margin-left: 15px">
                        <input type="hidden" th:value="${element.id}" name="id">
                        <button class="btn btn-danger" type="submit">Șterge orașul</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>